*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.login{
    width: 20%;
    border: 1px solid black;
    margin: 10% auto;
    padding: 2%;
}
.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;

}
.btn-primary:hover{
    background-color: #3742fa;
}